click==7.1.1
distlib==0.3.4
dnspython==1.16.0
filelock==3.7.1
Flask==1.1.1
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
greenlet==1.1.2
gunicorn==20.1.0
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
mysql-connector==2.2.9
mysql-connector-python==8.0.19
platformdirs==2.5.2
protobuf==3.6.1
python-dotenv==0.12.0
six==1.14.0
SQLAlchemy==1.4.37
virtualenv==20.14.1
Werkzeug==1.0.0
WTForms==2.2.1
